<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".iu.GameApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PRACTICA">
        <activity
            android:name=".iu.HistoryActivity"
            android:exported="false"
            android:label="@string/title_activity_history"
            android:theme="@style/Theme.PRACTICA" />
        <activity
            android:name=".iu.GameApplication"
            android:exported="false"
            android:label="@string/title_activity_game_application"
            android:theme="@style/Theme.PRACTICA"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".iu.GameActivity"
            android:exported="false"
            android:label="@string/title_activity_game"
            android:theme="@style/Theme.PRACTICA" />
        <activity
            android:name=".iu.HelpActivity"
            android:exported="false"
            android:label="@string/title_activity_help"
            android:theme="@style/Theme.PRACTICA" />
        <activity
            android:name=".iu.ConfigurationActivity"
            android:exported="false"
            android:label="@string/title_activity_configuration"
            android:theme="@style/Theme.PRACTICA" />
        <activity
            android:name=".iu.ResultsActivity"
            android:exported="false"
            android:label="@string/title_activity_results"
            android:theme="@style/Theme.PRACTICA" />
        <activity
            android:name=".iu.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.PRACTICA">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>